# Python - Backend
backend/venv/
backend/__pycache__/
backend/.env
backend/migrations/versions/*.pyc

# Node - Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Hệ thống & IDE
.vscode/
node_modules
venv
docs
context.md